html, body{

    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-menu{

    height: 40px;
    background-color: #000;
    opacity: 0.9;
    text-align: center;

}

.main-area{

    background-color: #212E62;
    color: whitesmoke;
}

.side-bar-menu{
    background-color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    
    

}

.side-bar-menu ul{

    list-style: none !important;
    text-decoration: none;
    margin: 0;
    padding: 0;
    

}

.side-bar-menu ul li{

    list-style: none !important;
    text-align: left;
    background-color: #333;
    border-bottom: 1px solid gray;
    

    
}

.side-bar-menu ul li a{

    list-style: none !important;
    color: #EC3F31;
    display: block;
    text-decoration: none;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 30px;
    font-size: 16px;

}

.side-bar-menu ul li:hover{

    background-color: #444;
    opacity: 0.8;
    text-decoration: none;

}

.form-control{

    width: 200px !important;
}

.result-panel{
    height: 250px;
    line-height: 250px;
    font-size: 30px;

}